.item-count{
    display: flex;
    align-items: center;
    gap: 1rem;
}

div button {
    background-color: rgb(65, 26, 206);
    border: 0;
    color: rgb(255, 255, 255);
    border-radius: .5rem;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 3px;
    padding-bottom: 4px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    border: 2px solid black;
}

.item-count p{
    margin: 10px;
}

.item-count button:hover, .agregar-al-carrito:hover {
    background-color: white;
    color: black;
}